.custom-nav {
  background-color: #000000;
  border: 1px solid #fff;
  color: #fff;
}

.custom-nav .navbar-brand,
.custom-nav .nav-link {
  color: #fff;
}

.custom-nav .dropdown-item {
  color: #212529;
}

.custom-nav .dropdown-item:hover {
  color: #fff;
  background-color: #0077c2;
}

.custom-nav {
  background-color: #f8f9fa;
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
